@charset "UTF-8";

/* css 리셋 */
@import "reset.css";

/* 폰트적용 */
@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 전체CSS */
body {
  font-family: "NPSfontBold", "Malgun Gothic", "굴림", "Gulim", "Arial";
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body * {
  color: #4d2222;
  text-align: center;
}

/* 푸터 */
footer {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  background: #616031;
  padding: 20px;
  padding-left: 40px;
  box-sizing: border-box;
}
footer * {
  color: #f1f0cb;
  text-align: left;
}
#footcontent span {
  font-size: 11px;
  line-height: 30px;
}

/* | */
.bar {
  margin: 0 15px;
}