@charset "UTF-8";

/* css 리셋 */
@import "reset.css";

/* 폰트적용 */
@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 전체CSS */
body {
  width: 100%;
  font-family: "NPSfontBold", "Malgun Gothic", "굴림", "Gulim", "Arial";
  
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body * {
  color: #4d2222;
  text-align: center;
}

/* 헤더 */
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #d6d46d;
  padding: 0 30px;
}
#mnflex {
  display: flex;
}
#logo {
  margin: 10px;
  height: 50px;
}
#menu {
  margin-left: 30px;
  display: flex;
}
#menu li {
  cursor: pointer;
  line-height: 30px;
}
.subbck {
  visibility: hidden;
  height: 0;
  position: fixed;
  top: 70px;
  left: 0;
  transition: all 0.7s;
  width: 100%;
  background: #d6d46dda;
  z-index: 9;
}
.submenu {
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 70px;
  left: 0;
  transition: all 0.7s;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.menuitem {
  position: relative;
  width: 150px;
  padding: 20px;
  overflow: visible;
}
.subitem {
  box-sizing: border-box;
  width: 150px;
  padding: 10px;
}
#log {
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 30px;
}

/* 후버하면 글 색상 변경 */
.cc {
  transition: all 0.3s;
}
.cc:hover {
  color: #f1f0cb !important;
}

/* | */
.bar {
  margin: 0 15px;
}
