@charset "UTF-8";

/* css 리셋 */
@import "reset.css";

/* 폰트적용 */
@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 전체CSS */
body {
  width: 100%;
  height: 100%;
  font-family: "NPSfontBold", "Malgun Gothic", "굴림", "Gulim", "Arial";
}
body * {
  color: #4d2222;
  text-align: center;
}
#container {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* 헤더 */
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #d6d46d;
  padding: 0 30px;
}
#mnflex {
  display: flex;
}
#logo {
  margin: 10px;
  height: 50px;
}
#menu {
  margin-left: 30px;
  display: flex;
}
#menu li {
  cursor: pointer;
  line-height: 30px;
}
.subbck {
  visibility: hidden;
  height: 0;
  position: fixed;
  top: 70px;
  left: 0;
  transition: all 0.7s;
  width: 100%;
  background: #d6d46dda;
  z-index: 9;
}
.submenu {
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 70px;
  left: 0;
  transition: all 0.7s;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.menuitem {
  position: relative;
  width: 150px;
  padding: 20px;
  overflow: visible;
}
.subitem {
  box-sizing: border-box;
  width: 150px;
  padding: 10px;
}
#log {
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 30px;
}

/* 푸터 */
footer {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  background: #616031;
  padding: 20px;
  padding-left: 40px;
  box-sizing: border-box;
}
footer * {
  color: #f1f0cb;
  text-align: left;
}
#footcontent span {
  font-size: 11px;
  line-height: 30px;
}

/* 섹션 */
section {
  width: 100%;
}

/* 고정배너 */
#sidebanner {
  height: 280px;
  width: 150px;
  background: #8e923bd0;
  position: fixed;
  top: 50%;
  right: 3.5%;
  transform: translate(-3.5%, -50%);
  border-radius: 30px;
}
#sidebanner * {
  text-align: left;
  color: #4e4e1e;
}
#sideclose {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 10px;
  font-size: 30px;
}
#sideCont {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 13px;
}
#sideCont span {
  display: inline-block;
  line-height: 25px;
}
#sideCont h3 {
  font-size: 22px;
  margin: 20px 0;
}

/* 메인 이미지 슬라이더 */
#imageSlide {
  height: 700px;
}
#gallery_wrap {
  margin: 0 auto;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
}
.slide_gallery li img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.slideCont {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
.slideCont p {
  font-size: 18px;
  text-align: left;
  color: #f1f0cb;
  margin: 15px;
}
.slideCont h1 {
  font-size: 35px;
  color: #f1f0cb;
  text-align: left;
  margin: 20px;
}
.bx-wrapper {
  margin-bottom: 0;
  border: none;
}

/* 오시는길 */
/* 지도 */
#map {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 70px;
}
#map h1 {
  font-size: 35px;
  margin: 30px;
  margin-bottom: 40px;
}
#iframeRight {
  margin-left: 30px;
  padding: 20px;
}
#iframeRight * {
  text-align: left;
  line-height: 30px;
}
#iframeRight > p {
  font-size: 20px;
}
#map #mnflex {
  justify-content: center;
}
#waybox > li {
  margin: 10px 0;
}
.way {
  background: #f1f0cb;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.wul {
  visibility: hidden;
  height: 0;
  background: #d6d46dd6;
  transition: all 0.5s;
}
.wul.on {
  visibility: visible;
  height: auto;
  padding: 10px;
  transition: all 0.5s;
}

/* 후버하면 글 색상 변경 */
.cc {
  transition: all 0.3s;
}
.cc:hover {
  color: #f1f0cb !important;
}

/* | */
.bar {
  margin: 0 15px;
}
